<!--상속-->
{% extends 'base.html' %}
<!--{% load windup_filter %}-->
{% load static %}
{% block content %}

<link rel="stylesheet" href="{% static 'css/article.css' %}">
    <div class="header">
        <h1>뉴스</h1>
    </div>

    <form method="get" action="" class="form" >
        <div style="margin-left: 80%; margin-top: 2%;">
        팀 선택
      <select name="team" id="id_team" onchange="location = this.value;">
        <option class="전체" value="?team=전체" >전체</option>
        <option class="삼성" value="?team=삼성">삼성</option>
        <option class="롯데" value="?team=롯데">롯데</option>
        <option class="NC" value="?team=NC">NC</option>
      </select>
    </div>

    <div class="container">
        {% if article_list %}
        <ul class="list">
            {% for article in article_list %}
            <li class="item">
                <h3><a href="" style="color: black">{{ article.article_title }}</a></h3>
                <div class="info">
                    <div class="written_time"><span>작성한 날짜 | </span>{{ article.written_time }}</div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% else %}
        <li>
          <div class="title">기사가 없습니다.</div>
        </li>
        {% endif %}
    </div>

    <div>
        <ul class="bottomDateList" style="list-style:none; margin-left: 18%;">
            {% for date in dates %}
            <li class="date" style="display: inline;">
                <a id ="date" href="{% url 'article:article_list' %}?team={{ team_text }}&date={{ date | urlencode }}" style="color: black">{{ date }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
    </form>

<script src="{% static 'jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/article.js' %}"></script>
<script>
var getUrlParameter = function getUrlParameter(sParam) {
    var sPageURL = decodeURIComponent(window.location.search.substring(1)),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

    for (i = 0; i < sURLVariables.length; i++) {
        sParameterName = sURLVariables[i].split('=');

        if (sParameterName[0] === sParam) {
            return sParameterName[1] === undefined ? true : sParameterName[1];
        }
    }
};
$(document).ready(function(){
  var team = getUrlParameter('team');
  if(team == '삼성'){
    $('.삼성').prop('selected', 'selected')
  }else if(team == '롯데'){
    $('.롯데').prop('selected', 'selected')
  }else if(team == 'NC'){
    $('.NC').prop('selected', 'selected')
  }else{
    $('.전체').prop('selected', 'selected')
  }
});
</script>

{% endblock %}
